<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Page</title>
    <link rel="stylesheet" type="text/css" href="/public/firstPage.css">
    <script type="text/javascript">
        function redirectToHome() {
            window.location.href = 'login.html';
        }
    </script>
</head>
<body>
<h1>Bienvenue sur la page d accueil </h1>
<div class="login">
    <input type="button" id="loginButton" value="Se connecter" onclick="redirectToHome()">
</div>
</body>
</html>