<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Page</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css">
    <script type="text/javascript">

    </script>
</head>
    <body>
        <h1>Gestionnaire de tâches</h1>
        <section class="buttons">
            <div class="login-button">
                <a href="/views/login.html">
                    <div class="rectangle-login-button">
                        <p>Se connecter</p>
                    </div>
                </a>
            </div>
            <div class="signin-button">
                <a href="/views/signin.html">
                    <div class="rectangle-login-button">
                        <p>S'inscrire</p>
                    </div>
                </a>
            </div>
        </section>

    </body>
</html>