<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My tasks</title>
    <link rel="stylesheet" type="text/css" href="/public/myTasks.css">
</head>
<body>
<div class="tasks-container">
    <h2>MyTasks</h2>
    <a href="/createTask">Create a task</a>
    <div class="list-container">
        <ul>
            <% tasks.forEach((task) => { %>
                <li class="task-item">
                    <span class="text-task"><%= task.task %></span>
                    <span class="date-task"><%= task.formattedDate %></span>
                </li>
            <% }); %>
        </ul>
    </div>
</div>

</body>
</html>